<div class="row end" style="background-color:#ECF0F1; padding-bottom: 20px;">
  <div class="col-md-10 col-md-offset-1">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <% 4.times do |i| %>
        <% if i == 0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
          <%= image_tag "dum#{i+1}.jpg" %>
          <div class="carousel-caption">
            <%= i %>
          </div>
        </div>
      <% end %>

    </div>

    <!-- Controls -->
   <!--  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
  </div>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag1.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag2.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag3.png" alt="">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag4.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag2.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag4.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag.png" alt="">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag1.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a class="link-flag hvr-shadow-radial" href="#">
          <img class="flag" src="assets/flag3.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color:#ECF0F1; padding-bottom: 20px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="row end">
      <div class="col-md-12">
        <div class="row">
          <h4>Hot comment</h4>
        </div>

        <div class="row">
          <div class="row">
           <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/dum1.jpg" data-holder-rendered="true" style="height: 100px; width: 100%; display: block;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi por...
                </p>
                <p><a href="#" class="btn btn-primary" role="button">อ่านต่อ</a></p>
              </div>
            </div>
          </div>
           <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/dum3.jpg" data-holder-rendered="true" style="height: 100px; width: 100%; display: block;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi por...
                </p>
                <p><a href="#" class="btn btn-primary" role="button">อ่านต่อ</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/dum2.jpg" data-holder-rendered="true" style="height: 100px; width: 100%; display: block;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi por...
                </p>
                <p><a href="#" class="btn btn-primary" role="button">อ่านต่อ</a></p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).ready(function(){
    console.log("ready")
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>