<div class="row" style="margin-top: 40px; margin-bottom: 40px;">
	<div class="col-md-10 col-md-offset-1">
	<div class="login-form">
    <h4 class="head">New Place</h4>

<%= render 'form' %>

<%= link_to 'Back', places_path %>

</div>
	</div>
</div>
