// Place all the styles related to the Asean controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dummy1, .dummy2{ text-align: center; }
.dummy1{
	background-color: grey;
}

.dummy2{
	background-color: #4A6681;
}

.row.end{
	margin-bottom: 30px;
}

.box{
	border: 1px solid #333;
	border-radius: 5px;
}

.carousel{
	margin-top: 30px;
	margin-bottom: 30px;
	.carousel-inner{
		.item{
			height: 500px;
			overflow-y: hidden;
			img{
				display: block;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.caption{
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
	-webkit-line-clamp: 1 !important; /* number of lines to show */
	line-height: 1 !important;        /* fallback */
	max-height: 1*2;
	// margin-top: 0;
	// margin-bottom: 0;
  h3,h4,h5{ font-size: 0.9em; margin-top: 0; margin-bottom: 0;}
	li{
		// white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }
	p{
		font-size: 0.8em;
	}
}
a.link-flag{
	width: 100%;
	margin-bottom: 30px;
	height: 200px;
	overflow: hidden;
	img.flag{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.card-cover{
	height: 140px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
	}
}


// ----------------------------------------------------------




