// Place all the styles related to the Place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place-index{
	h3{ text-align: center; text-decoration: underline; color: #27AE60;}
}

.ast{
	max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-pad{ padding: 0 !important;}

.content-col{
	padding-top: 15px;
	padding-bottom: 15px;

	.border{
		padding-top: 20px;
		border-top: 3px solid #333;
	}
}

nav.pagination{
	float: right;
}

.place-contents{
	max-height: 250px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
	}
	h3{ margin: 0; }
	h3.bord{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		border-bottom: 3px solid #333;
		.right{
			float: right;
    	margin-top: 3%;
    	font-size: 40%;
		}
	}
	div.content{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 1 !important;
		li{
  		text-overflow: ellipsis;
  	}
	}
}


.show-content{
	border-top: 3px solid #E67E22;
	border-bottom: 3px solid #E67E22;
	margin-top: -15px;
	margin-bottom: 15px;
	p{
		text-indent: 30px;
	}
	h1,h2,h3,h4,h5{ margin-top: 0; }
}

.sc-modal{
	max-height: 350px;
	overflow-x: scroll;
}
.modal-content{
	.cover{
	  line-height: 340px;
		display: block;
	}
	img{
		display: block;
		width: 100%;
		margin: auto;
	}
}
.fix-height{
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
}

a.drop-image{
	text-align: center;
	img{
		display: block;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
	}
}

.model-card{
	display: inline-block !important;
	padding-left: 15px;
	width: 100%;
	margin: auto;
	vertical-align: middle !important;
}

.comments.ast{
	max-height: 550px;
}
.comments{

	h4{
		color: #27AE60;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-top: 3px solid #E67E22;
		border-bottom: 3px solid #E67E22;
	}
	.captions{
		text-indent: 20px;
		span.user{
			color: #1ABC9C;
			text-transform:capitalize;
		}

		span.time{
			color: #2ECC71;
		}
		font-size: .9em;
		border-bottom: 1px solid #D35400;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
}
.new_comment_place{
	border-top: 3px solid #E67E22;
}


